# Synology persistent data root
DATA_PATH=/volume1/docker/MailGate

TZ=Europe/Brussels
EXCHANGE_HOST=192.168.177.13
EXCHANGE_PORT=25
MAILGATE_HOSTNAME=mailgate.local
ALLOWED_RECIPIENT_DOMAINS=example.com,example.be
FETCHMAIL_POLL_INTERVAL=60
RSPAMD_PASSWORD=change-me
